<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreakStore - Inicio</title>
</head>
<header>
    <%- include('header'); %>
      
  </header>
  <h1>Inicio FreakStore</h1>
<body>
    <form >
        <button class="button button1" id="registrar" type="submit" placeholder=".form-control-lg">Clientes</button>
        <button class="button button1" id="registrar" type="submit" placeholder=".form-control-lg">Vendedores</button>
        <button class="button button1" id="registrar" type="submit" placeholder=".form-control-lg">Productos</button>
        <button class="button button1" id="registrar" type="submit" placeholder=".form-control-lg">Usuarios</button>
        
    </form>
    
</body>
</html>