<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/stylesini.css">  

    <title>FreakStore - Inicio sesión y registro</title>

</head>

<body>
        
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    Bienvenido
                    <h1>FreakStore</h1>
                </div>
                <form id="loginform" method="post">
                    <input type="email" id="usuario" name="usuario" placeholder="Usuario" required>

                    <input type="password" id="password" placeholder="Contraseña" name="password" required>
                <!-- </form>

                <form action="#" id="selectRol">
                    <label style="color: white;font-size: 16px;" for="lang">Rol    </label>
                    <select style="font-size: 16px;" name="rol" id="lang">
                      <option value="Administrador">Administrador</option>
                      <option value="Cliente">Cliente</option>
                      <option value="Vendedor">Vendedor</option>
                      
                    </select> -->
                    
                    <button type="submit" title="Ingresar" name="Ingresar">Iniciar sesión</button>
              </form>


                <div class="pie-form">
                    <a href="#">¿Olvidaste tu contraseña?</a>
                    <a href="#">Registrate</a>
                </div>
            </div>
            
        </div>
    </div>
    

    <script>
        function ingresoSesion() {
            const user = document.getElementById('usuario');
            const pass = document.getElementById('password');
            

            console.log(user, pass);

            if (user == user && pass == pass){
                render.location.href = '/api/productos';
                localStorage.Usuario = user
            }else{
                alert('Error')
            }
        }

        if(validarUser.contrasenaVendedor == contrasena) {
            res.cookie('usuario', `$validarUser._id)`, {
                httpOnly: true,
            });
        }

        const validarUser = await Modelos.findOne({ correoUsuario: correo })


    </script>

    

</body>

</html>