<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">

    <title>Inicio sesión y registro</title>

    <style>
        body {
            font-family: 'Overpass', sans-serif;
            font-weight: normal;
            font-size: 100%;
            color: #1b262c;
            margin: 0;

        }

        #contenedor {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            min-width: 100vw;
            min-height: 100vh;
            width: 100%;
            height: 100%;
        }

        #central {
            max-width: 320px;
            width: 100%;
        }

        .titulo {
            font-size: 250%;
            /* color: #bbe1fa; */
            color: white;
            text-align: center;
            margin-bottom: 20px;
        }

        #login {
            width: 100%;
            padding: 50px 30px;
            /* background-color: #3282b8; */
            background: #0575E6;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #021B79, #0575E6);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #021B79, #0575E6);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


            -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

            border-radius: 3px 3px 3px 3px;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;

            box-sizing: border-box;
        }

        #login input {
            font-family: 'Overpass', sans-serif;
            font-size: 110%;
            color: #1b262c;


            display: block;
            width: 100%;
            height: 40px;

            margin-bottom: 10px;
            padding: 5px 5px 5px 10px;

            box-sizing: border-box;

            border: none;
            border-radius: 3px 3px 3px 3px;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
        }

        #login input::placeholder {
            font-family: 'Overpass', sans-serif;
            color: #E4E4E4;
        }

        #login button {
            font-family: 'Overpass', sans-serif;
            font-size: 110%;
            color: #1b262c;
            width: 100%;
            height: 40px;
            border: none;

            border-radius: 3px 3px 3px 3px;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;

            background-color: #bbe1fa;

            margin-top: 10px;
        }

        #login button:hover {
            background-color: #4d86ac;
            color: #bbe1fa;
        }

        .pie-form {
            font-size: 90%;
            text-align: center;
            margin-top: 15px;
        }

        .pie-form a {
            display: block;
            text-decoration: none;
            color: white;
            margin-bottom: 3px;
        }

        .pie-form a:hover {
            color: #0f4c75;
        }

        .inferior {
            margin-top: 10px;
            font-size: 90%;
            text-align: center;
        }

        .inferior a {
            display: block;
            text-decoration: none;
            color: #bbe1fa;
            margin-bottom: 3px;
        }

        .inferior a:hover {
            color: #3282b8;
        }

        #selectRol {
            font-size: 100%;
            text-align: center;
        }

        #rol {
            font-size: 100%;
        }

        h1 {
            color: black;
            text-shadow:
                0 0 5px white,
                0 0 10px white,
                0 0 15px white,
                0 0 20px lime,
                0 0 30px lime,
                0 0 40px lime,
                0 0 55px lime,
                0 0 75px lime;

            }
    </style>

</head>

<body>
    
    
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    Bienvenido
                    <h1 style="font-family: Rogthem; font-size:45px;">FreakStore</h1>
                </div>
                <form id="loginform" method="post">
                    <input type="text" name="usuario" placeholder="Usuario" required>

                    <input type="password" placeholder="Contraseña" name="password" required>
                </form>

                <form action="#" id="selectRol">
                    <label style="color: white;font-size: 16px;" for="lang">Rol    </label>
                    <select style="font-size: 16px;" name="rol" id="lang">
                      <option value="Administrador">Administrador</option>
                      <option value="Cliente">Cliente</option>
                      <option value="Vendedor">Vendedor</option>
                      
                    </select>
                    
              </form>

                    <button type="submit" title="Ingresar" name="Ingresar">Login</button>

                <div class="pie-form">
                    <a href="#">¿Olvidaste tu contraseña?</a>
                    <a href="#">Registrate</a>
                </div>
            </div>
            <!-- <div class="inferior">
                <a href="#">Volver</a>
            </div> -->
        </div>
    </div>




</body>

</html>