<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/frontend/public/styles/styles.css" />
    <link rel="stylesheet" href="../static/styles/styles.css">
    
    <%- include('head'); %>
    <title>FreakStore - Módulo Vendedores</title>
    
    

</head>
<body>
    
      
</body>

<body class="container">
<header>
    
    <%- include('header'); %>

</header>

<main><br><br><br>
    <div class="form-group">
        <h1 style="text-align: center;">Registro vendedores</h1>
        <form action="/api/agregarv" method="post">
            Nombre: <input class="form-control" type="text" name="Nombre" id="idnombre"><br>
            Documento: <input class="form-control" type="text" name="Documento" id="iddocumento"><br>
            Correo: <input class="form-control" type="email" name="Correo" id="idcorreo"><br>
            Ventas despachadas: <input class="form-control" type="text" name="VentasDespachadas" id="idventasDespachadas"><br>
            <button class="button button1" id="registrar" type="submit" placeholder=".form-control-lg">Registrar</button>
    </form>
</main>

<footer>
    <%- include('footer'); %>
</footer>

</body>
</html>